In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kashi\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kashi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kashi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kashi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\kashi\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
import pandas as pd

# Assuming the dataset file is named "loan.csv" and it's in the same directory as your notebook
file_path = "loan_data.csv"
df = pd.read_csv(file_path)

# Now you can work with the DataFrame 'df'

In [4]:
df

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [5]:
import pandas as pd
import sqlite3

# Step 1: Acquire data (assuming you have the loan.csv file in your directory)
file_path = "loan_data.csv"
data = pd.read_csv(file_path)

# Step 2: Establish a connection to your SQLite database
conn = sqlite3.connect('loans.db')

# Step 3: Create a table schema
create_table_query = '''
CREATE TABLE IF NOT EXISTS loans (
    Credit_Policy INTEGER,
    Purpose TEXT,
    Int_Rate FLOAT,
    Installment FLOAT,
    Log_Annual_Inc FLOAT,
    DTI FLOAT,
    FICO INTEGER,
    Days_with_CR_Line FLOAT,
    Revol_Bal FLOAT,
    Revol_Util FLOAT,
    Inq_Last_6mths INTEGER,
    Delinq_2yrs INTEGER,
    Pub_Rec INTEGER,
    Not_Fully_Paid INTEGER
)
'''
conn.execute(create_table_query)

# Step 4: Insert data into the table
data_subset = data[[
    'credit.policy', 'purpose', 'int.rate', 'installment', 'log.annual.inc',
    'dti', 'fico', 'days.with.cr.line', 'revol.bal', 'revol.util',
    'inq.last.6mths', 'delinq.2yrs', 'pub.rec', 'not.fully.paid'
]]
data_subset.columns = ['Credit_Policy', 'Purpose', 'Int_Rate', 'Installment', 'Log_Annual_Inc',
                       'DTI', 'FICO', 'Days_with_CR_Line', 'Revol_Bal', 'Revol_Util',
                       'Inq_Last_6mths', 'Delinq_2yrs', 'Pub_Rec', 'Not_Fully_Paid']
data_subset.to_sql('loans', conn, if_exists='replace', index=False)

# Step 5: Commit changes and close the connection
conn.commit()
conn.close()

In [6]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('loans.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Example: Query the first 5 rows from the 'loans' table
cursor.execute("SELECT * FROM loans LIMIT 5")
rows = cursor.fetchall()

# Display the results
for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'debt_consolidation', 0.1189, 829.1, 11.35040654, 19.48, 737, 5639.958333, 28854, 52.1, 0, 0, 0, 0)
(1, 'credit_card', 0.1071, 228.22, 11.08214255, 14.29, 707, 2760.0, 33623, 76.7, 0, 0, 0, 0)
(1, 'debt_consolidation', 0.1357, 366.86, 10.37349118, 11.63, 682, 4710.0, 3511, 25.6, 1, 0, 0, 0)
(1, 'debt_consolidation', 0.1008, 162.34, 11.35040654, 8.1, 712, 2699.958333, 33667, 73.2, 1, 0, 0, 0)
(1, 'credit_card', 0.1426, 102.92, 11.29973224, 14.97, 667, 4066.0, 4740, 39.5, 0, 1, 0, 0)

In [7]:
import pandas as pd
import sqlite3

def acquire_and_store_data():
    # Acquire data (assuming you have the loan.csv file in your directory)
    file_path = "loan_data.csv"
    data = pd.read_csv(file_path)

    # Establish a connection to your SQLite database
    conn = sqlite3.connect('loans.db')

    # Insert data into the 'loans' table
    data.to_sql('loans', conn, if_exists='replace', index=False)

    # Commit changes and close the connection
    conn.commit()
    conn.close()

    print("Data acquisition and storage completed successfully.")

# Run the batch process once
acquire_and_store_data()
print("Batch process completed.")

Data acquisition and storage completed successfully.
Batch process completed.

In [8]:
pip install schedule

Requirement already satisfied: schedule in c:\users\kashi\appdata\local\programs\python\python311\lib\site-packages (1.2.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import sqlite3
import schedule
import time

def acquire_and_store_data():
    print("Data acquisition and storage process started...")
    
    # Acquire data (assuming you have the loan.csv file in your directory)
    file_path = "loan_data.csv"
    data = pd.read_csv(file_path)

    # Establish a connection to your SQLite database
    conn = sqlite3.connect('loans.db')

    # Insert data into the 'loans' table
    data.to_sql('loans', conn, if_exists='replace', index=False)

    # Commit changes and close the connection
    conn.commit()
    conn.close()

    print("Data acquisition and storage completed successfully.")

# Define the job to be scheduled
def scheduled_job():
    print("Scheduled job starting...")
    acquire_and_store_data()
    print("Scheduled job completed.")

# Schedule the job to run every 24 hours
schedule.every(24).hours.do(scheduled_job)

# Run the scheduler continuously
while True:
    schedule.run_pending()
    time.sleep(1)